<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-9">
          
          <h2>Latest News</h2>
          <div id="news-container">
            <% news.sort((a, b) => new Date(b.date) - new
            Date(a.date)).forEach(function(item) { %>
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= item.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <%= new Date(item.date).toLocaleDateString() %>
                </h6>
                <p class="card-text"><%= item.content %></p>
                <button class="btn btn-primary">Baca Selengkapnya</button>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
        <div class="col-md-3">
          <h2>Iklan</h2>
          <ul class="list-group">
            <li class="list-group-item"><a href="/">Home</a></li>
            <li class="list-group-item"><a href="/prodi">Prodi</a></li>
            <li class="list-group-item"><a href="/contact">Contact</a></li>
            <li class="list-group-item"><a href="/about">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
