<div class="container mt-4">
  <h1 class="text-center">Daftar Fakultas</h1>
  <table class="table table-striped mt-3">
    <thead class="thead-dark">
      <tr>
        <th>Nama Fakultas</th>
        <th>Singkatan</th>
      </tr>
    </thead>
    <tbody>
      <% if (fakultas.length > 0) { %> <% fakultas.forEach(data => { %>
      <tr>
        <td><%= data.nama %></td>
        <td><%= data.singkatan %></td>
      </tr>
      <% }) %> <% } else { %>
      <tr>
        <td colspan="2" class="text-center">Tidak ada data fakultas</td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
